@{
    Layout = "SuccessAndFailLayout";
}

<div class="message_type">
    <i class="checkmark">❌</i>
</div>
<h1>Fail</h1>
<p>Unfortunately, it is currently not possible to create an order.<br /> Your funds will not be debited.</p>
<br>
<br>
