@{
    ViewData["Title"] = "Home Page";
}

<div class="slider-area">
    <div class="item">
        <div class="single-slide">
            <div class="slide-bg slide-one"></div>
            <div class="slide-text-wrapper">
                <div class="slide-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6">
                                <div class="slide-content">
                                    <h2>Unique electronics store</h2>
                                    <p>Why us?</p>
                                    <p>Unique Electronic Store goods are brand new,original and comes with international warranty,we ship to your delivery address at the comfort of your HOME.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row" style="align-content: space-evenly; justify-content: space-evenly">
     
            <div class="col-md-4 col-sm-6 m-auto">
                <div class="single-promo">
                    <i class="fa fa-truck"></i>
                    <p>Free shipping</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 m-auto">
                <div class="single-promo">
                    <i class="fa fa-lock"></i>
                    <p>Secure payments</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 m-auto">
                <div class="single-promo">
                    <i class="fa fa-gift"></i>
                    <p>New products</p>
                </div>
            </div>
        </div>
    </div>
</div><!-- End promo area -->
